*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} 
header{
    
    background-color: #255ee9;
    
    
}
.contenitore{
    max-width: 1500px;
    margin: 0 auto;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top img{
    padding-left: 3rem;
}

.top ul{
    color: white;
    list-style-type:none ;
}
.top ul li{
    padding: 1rem 2rem;
}
 .button-white{
    background-color: white;
    color: #1d1552;
    border-color: white;
    border: 0px;
    border-radius: 3rem;
}
.top p{
    padding: 1rem 6rem ;
    
}
.top button{
    margin: 0.5rem 6rem;
    width: 4rem;
    height: 2rem;
    
}
 
.bottom{
  text-align: center;
 color: white;
 padding: 2rem 0rem 6rem 6rem;
 background-image: url(../img/jumbo.png);
 background-size: cover;
}
.bottom h1{
    padding: 8rem 0rem 1rem 0rem;
    
    font-size: 3rem;
   
} 
.bottom p{
    padding:0.3rem;
    font-size: 1.2rem;
}



.bottom button{
    margin:  2rem 0rem 0rem 1.5rem;
    font-size: 1.1rem;
   
}
.bottom .button-white{
    height: 3.5rem;
    width: 10rem;
}
    
.button-black{
    border: 0px;
    border-radius: 3rem;
    background-color:#23272a ;
    color: white;
}
.bottom .button-black{
height: 3.5rem;
width: 14.7rem;
}

.informazioni{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6rem 15rem 0rem 6rem;
    
}
.informazioni img{
    padding: 0rem 5rem 3rem 4rem;
}
.informazioni div{
    padding: 4rem 2rem 3rem 0rem;
   
}
.informazioni h2{
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
.informazioni p{
    margin-top: 1.5rem;
    line-height: 1.8rem;
    font-size: 1.3rem;
}

.informazioni-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 6rem 15rem 0rem 10rem;   
}

.informazioni-2 h2{
    font-size: 2.5rem;
    padding-bottom: 0rem;
}
.informazioni-2 img{
    padding: 0rem 1rem 4rem 4rem;
}
.informazioni-2 p{
    margin-top: 1.5rem;
    line-height: 1.8rem;
    font-size: 1.3rem;
}

.informazioni-3{
    padding: 6rem;
    text-align: center;
}
.informazioni-3 h2{
    padding-bottom: 2rem;
    font-size: 2.5rem;
}
.informazioni-3 p{
    font-size: 1.3rem;
    padding: 1rem 2.5rem 3rem 0rem;
    line-height: 1.8rem;

    
}

.informazioni-3 h3{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
   background-size: 50rem ;
    background-position: center;
    font-size: 2.5rem;
    padding: 4rem 4rem 0rem 4rem;
    
}
.button-blue{
    border: 0px;
    border-radius: 3rem;
    background-color:#7289da ;
    color: white;

}

.informazioni-3 button{
    height: 3.5rem;
    width: 11rem;
    margin: 4rem;
    font-size: 1.1rem;
}

footer{
    background-color:#23272a ;
}
.footer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.footer-top div{
    padding: 3.5rem 0rem 0rem 7rem;
    
}
.footer-top h3{
    font-size: 1.5rem;
    color:#7189da ;
    padding-bottom: 1rem;
}
.footer-top p{
    padding-bottom: 1.2rem;
    color: white;
    
   
}
.lingua{
 display: flex;
 flex-direction: row;
 justify-content: center;


}
.bandiera-italiana{
    display: inline-block;
    background-image: url(../img/ita.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.7rem;
    height: 1.3rem;
    margin-right: 0.3rem;
  
}
#freccia{
    margin-left: 0.2rem;
}
    .loghi i {
        padding: 0rem 0rem 0rem 1rem;
    }

.footer-top ul{
    list-style-type: none;
    padding: 3rem 6rem 0rem 0rem;
    color: white;
}

.footer-top h4{
    color:#7189da ;
}
.footer-top li{
 padding-top: 1rem;
}

.footer-bottom{
    margin: 3rem 6.5rem 0rem 7rem;
   

    
}
.footer-bottom hr{
    color: #4f5d8c;


}
.footer-bottom span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 0rem 6rem 0rem;
    

    
}
.footer-bottom button{
    width: 5rem;
    height: 2.5rem;
    font-size: 0.8rem;
}


